/* COLOR PALETTE: 
whitish: #ffffff
dark: #3b413c
greenish: #558b6e
creamish: #d4e0da
grayish: #9db5b2
*/

html {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header {
    position: relative;
    height: 600px;
    background-image: linear-gradient(.25turn, #3b413c, #558b6e);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 4vw;
    /* line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
    }
  
  h1 {
    font-size: 8vw;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
  }
  
  header h1 {
    color: #d4e0da;
    padding-top: 12vh;
    margin-bottom:0;
  }
  
  header div {
    margin:2em auto 0 52vw;
    width:20%;
    border-left: 1.2vw #d4e0da solid;
    padding-left: .5vw;
  }

  header div h4 {
    text-decoration: none;
    color: #d4e0da;
    margin: 0;
    font-size: 1.4em;
}
h4[href^="tel"] {
    color: #d4e0da;
    text-decoration: none;  
  }
  h4[href^="mailto"] {
    color: #d4e0da;
    text-decoration: none;  
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  
  @media (max-width: 699px) {
    .svg--lg {
      display: none;

    }
  }
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }

  .fadeInLoad {
    animation: fadeInLoad 5s;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
#slide {
    position: relative;
    left: -2000px;
    -webkit-animation: slide 3s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 3s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
  }
  
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */
    }
  }
  
  /* BEGIN WRAPPER FOR FLEXBOX CONTENT */

  * {box-sizing: border-box;}
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .wrapper > div {
    border: none;
    background-color: none;
  }.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(4vw, auto);
  }
  .biggrid {
    grid-column: 1 / 17;
    grid-row: 1 / 20;
    background-image: linear-gradient(.25turn, #3b413c, #3b413c);
    align-content: center;
  }
  .one {
    grid-column: 2 / 5;
    grid-row: 2;
    margin:auto;
    align-content:center;
  }
  .two {
    grid-column: 7 / 10;
    grid-row: 2;
    margin:auto;
    align-content: center;
  }
  .three {
    grid-column: 12 / 15;
    grid-row: 2;
    margin:auto;
    align-content: center;
  }
  /* .top-line {
    width: 16em;
    height: .1em;
    border-bottom: .3em solid gold;
    border-top: .3em solid gold;
    border-radius: 50px;
  } */
  .bottom-line {
    width: 6vw;
    height: .1em;
    border-bottom: .3em solid gold;
    border-top: .3em solid gold;
    border-radius: 50px;
  }
  .subtitles {
    color: #3b413c;
    text-align: center;
    border-radius: 25%;
    text-shadow: 0 1em 1px #d4e0da;
    margin-bottom: 1.2em;
  }
  .h-one {
      grid-column: 2 / 5;
      grid-row: 3;
      margin:auto;
  }
  .h-two {
      grid-column: 5 / 9;
      grid-row: 3;
      margin:auto;
  }
  .h-three {
      grid-column: 9 / 12;
      grid-row: 3;
      margin:auto;
  }

/* CIRCLE DIVS FOR DESCRIPTORS*/


.circle {
    width: 23vw;
    height: 23vw;
    border: 1em solid #558b6e;
    border-radius: 50%;
    background: #3b413c;
    opacity: .4;
    align-content: center;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 23vw;
}

.circle i {
    margin-top: 6vw;
    opacity: 1;
    color: #d4e0da;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: .4;}
}

.fade-in-element {
  animation: fade-in 3.6s;
}

.hidden {
  opacity: 0;
}

h2 {
  font-size: 3em;
  color: #9db5b2;
}
p {
  font-size: 1.4em;
  color: #d4e0da;
}
.more-info {
  background: #d4e0da;
  color: #3b413c;
  border-radius: 10%;
  border: 1vw #d4e0da solid;
  font-size: 2em;
  margin-top:1em;
}
.more-info:hover {
  cursor: pointer;
}

/*partners line*/

.four {
  grid-column: 2 / 16;
  grid-row: 4;
}

.section-title { 
   width:100%; 
   text-align:center; 
   border-bottom: .2em solid gold;
   line-height:0.1em; 
   margin:4em 0 20px; 
} 
.section-title span { 
  background:#3b413c; 
  padding:0 1em; 
  color: #d4e0da;
  font-size: 1.2em;
  margin-left: 32vw;
}
.section-title .reviews { 
  background:#3b413c; 
  padding:0 1em; 
  color: #d4e0da;
  font-size: 1.2em;
  margin-left: -32vw;
}

/* some fun stuff w partners*/
.center-partners-left {
  display: flex;
  align-items: center;
  justify-content: center;
  float:left;
  width:50%;
}
.center-partners-right {
  display: flex;
  align-items: center;
  justify-content: center;
  float:right;
  width:50%;
}
.partners-box {
  grid-column: 3 / 15;
  grid-row: 5 / 12;
  background-color: #d4e0da;
  border-radius: 5%;
  border: 10px solid black;
  padding:2em;
  margin-top:8em;
  text-align: center;
}

/*MIGHT WANT TO CHANGE EVERYTHING AND USE background-image, center, and no repeat FOR IMG's*/
/*reason being is currently theyre unable to be resized easily.*/

.partners1 {
  margin-top:6em;
  margin-bottom:4em;
  width: 46%;
  margin-left:2%;
  margin-right:2%;
  height:4em;
  float: left;
  text-align: center;
}
.partner-left {
  float: left;
}
.partner-right {
  float: right;
}
.partners2 {
  margin-top:6em;
  margin-bottom:4em;
  width: 46%;
  margin-left:2%;
  margin-right:2%;
  height:4em;
  float: left;
  text-align: center;
}
.partners3 {
  grid-column: 4/8;
  grid-row: 6;
  width: 50%;
  float: left;
  grid-row: 6;
}
.partners4 {
  width: 50%;
  float: right;
  grid-row: 6;
}

.five {
  grid-column: 2 / 16;
  grid-row: 13;
}

/* img {
  size: 20px
} */