/* Coolors Exported Palette - coolors.co/ffffff-3b413c-558b6e-d4e0da-9db5b2 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(130%, 5%, 24%, 1);
$color3: hsla(148%, 24%, 44%, 1);
$color4: hsla(150%, 16%, 85%, 1);
$color5: hsla(173%, 14%, 66%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(59, 65, 60, 1);
$color3: rgba(85, 139, 110, 1);
$color4: rgba(212, 224, 218, 1);
$color5: rgba(157, 181, 178, 1);